<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

	<menu id="apps-accessories-menu" label="Accessories">
		<item label="Alacritty">
			<action name="Execute">
				<command>alacritty</command>
			</action>
		</item>
		<item label="st">
			<action name="Execute">
				<command>st</command>
			</action>
		</item>
		<item label="PCMan File Manager">
			<action name="Execute">
				<command>pcmanfm</command>
			</action>
		</item>
		<item label="Qalculate!">
			<action name="Execute">
				<command>qalculate-gtk</command>
			</action>
		</item>
		<item label="Kleopatra">
			<action name="Execute">
				<command>kleopatra</command>
			</action>
		</item>
		<item label="Transmission">
			<action name="Execute">
				<command>transmission-gtk</command>
			</action>
		</item>
		<item label="Wireshark">
			<action name="Execute">
				<command>sudo wireshark</command>
			</action>
		</item>
		<item label="MKVToolNix">
			<action name="Execute">
				<command>mkvtoolnix-gui</command>
			</action>
		</item>
		<item label="Google Earth">
			<action name="Execute">
				<command>google-earth-pro</command>
			</action>
		</item>
	</menu>

	<menu id="apps-editors-menu" label="Editors">
		<item label="NeoVim">
			<action name="Execute">
				<command>alacritty -e nvim</command>
			</action>
		</item>
		<item label="Emacs">
			<action name="Execute">
				<command>emacs</command>
			</action>
		</item>
		<item label="Emacs-NoX">
			<action name="Execute">
				<command>alacritty -e emacs-nw</command>
			</action>
		</item>
	</menu>

	<menu id="apps-games-menu" label="Games">
		<item label="Steam">
			<action name="Execute"><command>steam</command></action>
		</item>
		<item label="Lutris">
			<action name="Execute"><command>lutris</command></action>
		</item>
		<item label="GZDoom">
			<action name="Execute"><command>gzdoom</command></action>
		</item>
		<item label="DOSBox">
			<action name="Execute"><command>dosbox</command></action>
		</item>
	</menu>

	<menu id="apps-net-menu" label="Internet">
		<item label="LibreWolf">
			<action name="Execute">
				<command>librewolf</command>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
			</action>
		</item>
		<item label="Iridium">
			<action name="Execute">
				<command>iridium --force-dark-mode</command>
			</action>
		</item>
		<item label="Discord">
			<action name="Execute">
				<command>discord</command>
			</action>
		</item>
		<item label="Signal">
			<action name="Execute">
				<command>signal-desktop</command>
			</action>
		</item>
		<item label="Liferea">
			<action name="Execute">
				<command>liferea</command>
			</action>
		</item>
		<item label="HexChat">
			<action name="Execute">
				<command>hexchat</command>
			</action>
		</item>
	</menu>

	<menu id="apps-audio-menu" label="Audio">
		<item label="REAPER">
			<action name="Execute">
				<command>reaper</command>
			</action>
		</item>
		<item label="Mixbus 32C">
			<action name="Execute">
				<command>Mixbus32C9</command>
			</action>
		</item>
		<separator />
		<item label="Pusle Control Pannel">
			<action name="Execute">
				<command>pavucontrol</command>
			</action>
		</item>
		<item label="JACK Audio Connection">
			<action name="Execute">
				<command>qjackctl</command>
			</action>
		</item>
	</menu>

	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="Ario">
			<action name="Execute">
				<command>ario</command>
			</action>
		</item>
		<item label="Kdenlive">
			<action name="Execute">
				<command>kdenlive</command>
			</action>
		</item>
		<item label="ossia score">
			<action name="Execute">
				<command>ossia-score</command>
			</action>
		</item>
	</menu>

	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Gimp">
			<action name="Execute">
				<command>gimp</command>
			</action>
		</item>
		<item label="Inkscape">
			<action name="Execute">
				<command>inkscape</command>
			</action>
		</item>
	</menu>

	<menu id="system-menu" label="Settings">
		<item label="Network settings">
			<action name="Execute">
				<command>connman-gtk</command>
			</action>
		</item>
		<item label="Openbox configuration">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
		<item label="tint2 configuration">
			<action name="Execute">
				<command>tint2conf</command>
			</action>
		</item>
		<item label="Theme manager">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
		<item label="XScreenSaver configuration">
			<action name="Execute">
				<command>xscreensaver-settings</command>
			</action>
		</item>
		<item label="Displays configuration">
			<action name="Execute">
				<command>arandr</command>
			</action>
		</item>
		<separator />
		<item label="Reconfigure Openbox">
			<action name="Reconfigure" />
		</item>
	</menu>

	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications" />
		<item label="Alacritty">
			<action name="Execute">
				<command>alacritty</command>
			</action>
		</item>
		<item label="PCMan File Manager">
			<action name="Execute">
				<command>pcmanfm</command>
			</action>
		</item>
		<item label="LibreWolf">
			<action name="Execute">
				<command>librewolf</command>
			</action>
		</item>
		<separator />
		<menu id="apps-accessories-menu"/>
		<menu id="apps-editors-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-audio-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-games-menu"/>
		<separator label="System" />
		<menu id="system-menu"/>
		<separator />
		<item label="Reconfigure Openbox">
			<action name="Reconfigure" />
		</item>
		<item label="Lock screen">
			<action name="Execute">
				<command>~/.local/bin/powercmd lock</command>
			</action>
		</item>
		<item label="Sleep">
			<action name="Execute">
				<command>~/.local/bin/powercmd sleep</command>
			</action>
		</item>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<command>~/.local/bin/powercmd reboot</command>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<command>~/.local/bin/powercmd poweroff</command>
			</action>
		</item>
	</menu>

</openbox_menu>
